body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

a {
    text-decoration: none;
    color: #3a1f5d;
}

a:visited {
    color: #3a1f5d;
}

a:hover {
    color: #cf455c;
    cursor: pointer;
}

#title {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    width: 50%;
    font-size: 1.3em;
}

.logo {
    font-size: 3em;
    color: rgb(253, 210, 74) !important;
    font-family: 'Pacifico', cursive;
}

#discover {
    background-color: white;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
}

.container2 {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}

.introduction {
    padding-left: 60px;
    color: #3a1f5d;
}

button {
    background-color: rgb(253, 210, 74);
    width: 163px;
    height: 43px;
    border-radius: 10em;
    color: white;
    border: none;
    letter-spacing: 2px;
    font-size: 1em;
    font-family: 'Archivo', sans-serif;
}

button:hover {
    cursor: pointer;
}

.food {
    height: 350px;
    width: 350px;
}

.new {
    text-align: center;
}

.add_new {
    color: #cf455c;
    font-size: 2em;
}

.newRestaurent {
    display: block;
    text-align: center;
}

.newform {
    width: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#mogofooter {
    background: rgb(253, 210, 74);
    color: #3a1f5d;
    text-align: center;
    height: 100px;
}