doctype html
html( lang="en" )
    head
        block title
            title= pageName
        meta( charset='utf-8' )
        link( rel="stylesheet" href="/css/styles.css" type="text/css" )
        link( href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet" )
        link( href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" )
        script(src="https://unpkg.com/axios/dist/axios.min.js")

    body
        section#title
            div.container
                a.logo(href="/") MOGO!
                .navitems
                    a(href="#") Restaurents
                    a(href="#") Contact
                    a(href="#") About
                    a(href="#") Login

        block content