extends partials/header


block content
    container.new
        h1.add_new Add a New Restaurent!
            div.newRestaurent
                form.newform(action="/restaurents/new", method="post")
                    .field
                        p.control.has-icons-left.has-icons-right
                            input.input.is-warning(name='name', type='text', placeholder='Name')
                            span.icon.is-small.is-left
                                i.fas.fa-utensils
                        
                    .field
                        p.control.has-icons-left
                            input.input.is-warning(name='location',type='text', placeholder='Location')
                            span.icon.is-small.is-left
                                i.fas.fa-fish
                    .field
                        p.control.has-icons-left
                            input.input.is-warning(name='image', type='text',placeholder='Image URL')
                            span.icon.is-small.is-left
                                i.fas.fa-utensils
                    .field
                        p.control
                            textarea.textarea.is-warning(name='description', type='text', placeholder='Description')
                    .field
                        p.control
                            button.button.is-warning Login

                

        include partials/footer
