extends partials/header



block content
    container.new
        h1.add_new Add a New Restaurant!
            div.newRestaurant
                form.newform(action="/restaurants/new", method="post")
                    .field
                      input.form-control(name='name', type='text', placeholder='Name')
                      span.icon.is-small.is-left
                                
                        
                    .field
                      i.fas.fa-fish
                      input.form-control(name='location',type='text', placeholder='Location')
                      span.icon.is-small.is-left
                                
                    .field
                      i.fas.fa-utensils
                      input.form-control(name='image', type='text',placeholder='Image URL')
                      span.icon.is-small.is-left
                              
                    .field
                      i.fas.fa-fish
                      textarea.form-control(name='description', type='text', placeholder='Description')
                    .field
                        p.control
                            button.btn.btn-lg Share

                

        include partials/footer
